.conteiner-1{
display:flex;
flex-basis: 100%;
margin: 0;
padding: 0;
flex-direction:column;
}
header {
width:100%; 
background-color:#4682B4;
padding: 10px;
height:150px;
text-align: center;
font-family: "Courier New", monotype;
font-style: italic; 
margin-top: 0;
color:white;
}

.h{display: block;
width:960px; 
margin-left: auto;
margin-right: auto;
}

footer{
width:100%; 
background-color:#4682B4;
padding: 10px;
height:55px;
text-align: center;
font-family: "Courier New", monotype;
font-style: italic; 
margin-top: 0;
color:white;
}
#logo{
max-width:800px;
margin: 0 auto;
padding:10px;
float:left;
width:100px;
height:100px;
}
.nav{
color:DarkBlue;
}
.naveg-1{
align-items:flex-start;
}
.naveg-2{
align-items:flex-start;
}
.naveg-3{
align-items:flex-start;
}

.main{
padding: 0 0 10px 0;
display:flex;
flex-direction:column;
background:MintCream;
}
.links{ 
order:1;
}
.mesa{ 
order:3;
}
.fom{ 
order:2;
}

.mesa{ 
order:3;
}
.fom{ 
order:2;
}

@media screen and (min-device-width: 500px) {
.nav{
display: -webkit-flex; 
display: flex; 
justify-content:space-around;
}
.naveg-1{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.naveg-2{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.naveg-3{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.main{
display:flex;
flex-direction:column;
width:800px;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;

}
.mesa{ 
order:2;
}
.fom{ 
order:3;
}
}
table{
border-collapse: collapse;
border:0;
}
.cent{
text-align:center;
}
.pur{
background: Purple;
}
.bl{
background: MediumBlue;
}
